@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Maven Pro', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background: rgba(255, 255, 255, 0.664);
    /* text-align: center; */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    /* pointer-events: none; */
}

.logo:hover {
    background: linear-gradient(45deg, rgb(22, 139, 9),rgb(255, 255, 60));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, rgb(22, 139, 9),rgb(255, 255, 60));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10% 0;
}

.home-content{
    max-width: 500px;
    margin-left: 30px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 2;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    border-radius: 40px;
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, rgb(22, 139, 9),rgb(255, 255, 60));
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before{
    background-position: 100% 0;
}

.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, rgb(22, 139, 9),rgb(255, 255, 60));
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.btn:hover::after{
    background-position: 100% 0;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 120px;
    margin-left: 30px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, rgb(22, 139, 9),rgb(255, 255, 60));
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(22, 139, 9),rgb(255, 255, 60));
    border-radius: 50%;
    /* transform: scale(.88); */
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::before{
    filter: blur(5px);
}

.home-sci a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::after{
    transform: scale(0);
}

.home-img {
    width: 410px;
    height: 410px;
}

.home-img .glowing-circle{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: white;
    border-radius: 50%;
}

.glowing-circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(22, 139, 9),rgb(255, 255, 60));
    border-radius: 50%;
}

.glowing-circle span:nth-child(1){
    filter: blur(10px);
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    object-fit: cover;
}

.heading{
    font-size: 2rem;
    text-align: center;
}

.portfolio {
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    /* border-radius: 1rem;
    box-shadow: 0 0 1rem black; */
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(green);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 20px;
}

.portfolio-layer p {
    font-size: 18px;
    margin: .3rem 0 1rem;
}



/* .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    /* background-color: blue; */

/* .sidebar{
    position: fixed;
    margin-right: 0%;
    width: 25%;
    background-color: aqua;
} */


/* nav {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 25%;
} */

